{
  "check-coverage": true,
  "per-file": true,
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.spec.ts",
    "src/config/*"
  ],
  "reporter": [
    "lcovonly",
    "text"
  ],
  "all": true
}