{
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "include": [
    "src/lib/**/*.ts"
  ],
  "exclude": [
    "**/*.d.ts",
    "**/*.spec.ts"
  ],
  "reporter": [
    "lcovonly",
    "text"
  ],
  "all": true
}